.App {
  font-family: "Bungee Shade", cursive;
}

.styleCard {
  border-radius: 80px;
  box-shadow: 10px 13px 20px -3px rgba(0, 0, 0, 0.75);
  color: black;
  margin: 20px 0px;
  cursor: pointer;
}

.styleCardContent {
  padding: 4px 16px 20px 16px;
}

.styleImage {
  background-color: black;
  border-radius: 70px 70px 0 0;
  max-height: 200px;
  overflow: hidden;
}

.styleCardTitle {
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  margin: 12px 0px 0px 0px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.styleLocationLabel {
  font-family: "Varela Round", sans-serif;
  color: #8294aa;
  font-size: 40;
  margin: 4px 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.styleDescription {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  margin: 8px 0 0 0;
  display: grid;
  align-items: center;
  justify-content: center;
}
